PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
WOOCOMMERCE_SITE_URL=https://gulefirdous.com
WOOCOMMERCE_CONSUMER_KEY=ck_replace_me
WOOCOMMERCE_CONSUMER_SECRET=cs_replace_me
WOOCOMMERCE_WEBHOOK_SECRET=replace_with_a_long_random_secret
